body {
    width: 100vw;
    height: 100vh;
	background: linear-gradient(180deg,  #143d55,rgb(51, 53, 54));
	background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

*{
    font-family: 'Oswald', sans-serif;
}
.wrapper{
    .header{
        &__title{
            font-size: 36px;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }
        &__form{
            text-align: center;
            height: 35px;
        }
        &__search{
            height: 40px;
            width: 330px;
            font-size: 22px;
            opacity: 0.9;
            border-radius: 10px 0 0 10px;
            border: none;
            padding-left: 8px;
            padding-bottom: 5px;
            background-color: black;
            color: white;
        }
        &__submit{
            width: 60px;
            height: 41px;
            border: none;
            border-radius: 0 10px 10px 0;
            background-color: rgb(204, 0, 68);
            outline: none;

        }
        &__submit:hover{
            background-color: rgb(253, 13, 53);
        }
        &__variable-box{
            [type="radio"]{
                display: none;
            }
            label{
                width: 70px;
                height: 40px;
                background-color: red;
                text-transform: uppercase;
                border-color: rgb(204, 0, 68);
                background-color: rgb(204, 0, 68);
                outline: none;
                padding-top: 7px;
                transition: width 0.5s ease-in;
         
            }
            label:hover{
                    background-color: rgb(253, 13, 53);
            }
            input[type="radio"]:checked + label{
                background-color:rgb(253, 13, 53);
                width: 120px;
            }
            .movie-btn{
                border-radius: 10px 0 0 10px;
            }
            .series-btn{

            }
            .episode-btn{
                border-radius: 0 10px 10px 0;
            }
        }
        &__subtitle{
            color: white;
            margin-top: 20px;
        }
    }
}

.movies-list{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    .movie-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
        width: 340px;
        padding: 10px;
        border-radius: 5px;
        background: linear-gradient(0deg,#0000008f,#0000000e, rgba(44, 55, 61, 0));
        color: white;
        transition: all 0.5s ease-in-out;
        &__poster-wrap{
            height: 400px;
        }
        &__poster{
            max-width: 290px;
            max-height: 400px;
        }
        &__title{
        }
        &__year{

        }
        &__btn{
            border-color: rgb(204, 0, 68);
            border-radius: 10px;
            background-color: rgb(204, 0, 68);
            outline: none;
            width: 200px;
            margin: 0 auto;
            color: black;
        }
        &__btn:hover{
            background-color: rgb(253, 13, 53);
            border-color: black;
        }
    }
    .movie-card:hover{
        background: linear-gradient(0deg,#000000,#000000, rgb(44, 55, 61));
        transform: scale(1.15, 1.15);
        transition: all 0.5s ease-in-out;
    }
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba($color: #000000, $alpha: 0.6);
}

.modal-content{
    margin: 0 auto;
    margin-top: 15%;
    position: relative;
    .close-btn{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 36px;
        color: rgb(141, 141, 141);
    }
    .close-btn:hover, .close-btn:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}