body {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#143d55), to(#333536));
  background: linear-gradient(180deg, #143d55, #333536);
  background-size: 100% 100%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  font-family: 'Oswald', sans-serif;
}

.wrapper .header__title {
  font-size: 36px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.wrapper .header__form {
  text-align: center;
  height: 35px;
}

.wrapper .header__search {
  height: 40px;
  width: 330px;
  font-size: 22px;
  opacity: 0.9;
  border-radius: 10px 0 0 10px;
  border: none;
  padding-left: 8px;
  padding-bottom: 5px;
  background-color: black;
  color: white;
}

.wrapper .header__submit {
  width: 60px;
  height: 41px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #cc0044;
  outline: none;
}

.wrapper .header__submit:hover {
  background-color: #fd0d35;
}

.wrapper .header__variable-box [type="radio"] {
  display: none;
}

.wrapper .header__variable-box label {
  width: 70px;
  height: 40px;
  background-color: red;
  text-transform: uppercase;
  border-color: #cc0044;
  background-color: #cc0044;
  outline: none;
  padding-top: 7px;
  -webkit-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.wrapper .header__variable-box label:hover {
  background-color: #fd0d35;
}

.wrapper .header__variable-box input[type="radio"]:checked + label {
  background-color: #fd0d35;
  width: 120px;
}

.wrapper .header__variable-box .movie-btn {
  border-radius: 10px 0 0 10px;
}

.wrapper .header__variable-box .episode-btn {
  border-radius: 0 10px 10px 0;
}

.wrapper .header__subtitle {
  color: white;
  margin-top: 20px;
}

.movies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.movies-list .movie-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 10px;
  width: 340px;
  padding: 10px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#0000008f), color-stop(#0000000e), to(rgba(44, 55, 61, 0)));
  background: linear-gradient(0deg, #0000008f, #0000000e, rgba(44, 55, 61, 0));
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.movies-list .movie-card__poster-wrap {
  height: 400px;
}

.movies-list .movie-card__poster {
  max-width: 290px;
  max-height: 400px;
}

.movies-list .movie-card__btn {
  border-color: #cc0044;
  border-radius: 10px;
  background-color: #cc0044;
  outline: none;
  width: 200px;
  margin: 0 auto;
  color: black;
}

.movies-list .movie-card__btn:hover {
  background-color: #fd0d35;
  border-color: black;
}

.movies-list .movie-card:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(#000000), to(#2c373d));
  background: linear-gradient(0deg, #000000, #000000, #2c373d);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal {
  display: block !important;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#143d55), to(#333536)) !important;
  background: linear-gradient(180deg, #143d55, #333536) !important;
  color: white;
}

.movie-info {
  padding: 15px;
}

.close-btn {
  position: absolute;
  top: -20px;
  right: 10px;
  font-size: 62px;
  color: white;
}

.close-btn:hover, .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none !important;
}

.plot-sec {
  padding-bottom: 15px;
}

.btn-primary {
  background-color: #cc0044 !important;
  border-color: #cc0044 !important;
  border-radius: 10px !important;
  width: 200px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #fd0d35 !important;
  color: black !important;
}

.list-group-item {
  background-color: transparent !important;
  border-color: #131531 !important;
}

strong {
  text-transform: uppercase;
  color: #e9fffe;
}

hr {
  background-color: #131531;
}

@media (max-width: 992px) {
  .modal-content {
    margin-top: 5%;
  }
  .movie-info__img-box {
    margin: 0 auto;
    text-align: center;
  }
  .movie-info__img {
    height: 270px !important;
  }
  .list-group-item {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
}

@media (max-width: 768px) {
  .movie-card {
    width: 85% !important;
    margin: 0 auto !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .movie-card {
    width: 40% !important;
    margin: 0 auto !important;
  }
}

.fav-btn {
  background-color: #969696;
  color: white;
  border-radius: 10px !important;
  width: 200px;
  margin-top: 5px !important;
  margin: 0 auto;
}

.fav-btn:hover {
  background-color: #fd0d35;
  border-color: black;
  color: black;
}

.btn-card {
  margin-bottom: 5px;
}

.fav-list-btn {
  border: none;
  border-radius: 10px;
  background-color: #cc0044;
  outline: none;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  color: black;
  margin-top: 110px;
  height: 41px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.fav-list-btn:hover {
  background-color: #fd0d35;
}

.fav-btn--act {
  background: #ebb042 !important;
}
/*# sourceMappingURL=style.css.map */